.home {
    width: 100%;
    padding: $home-padding;
    height: $main-height;
    background-color: $color-dark;
    box-sizing: border-box;
    overflow-y: auto;

    &__list {
        margin-bottom: 60px;
    }
}